In [68]:
print('hello')

hello

In [1]:
a=10
b=20
c=a+b
a*b*c

6000

In [2]:
help(list())

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [3]:
pow(2,3)

8

In [10]:
dir(list())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
sum((4,5))

9

In [72]:
var=eval(input("enter data"))
print(var)
print(type(var))

12
<class 'int'>

In [ ]:
age=int(input("enter ur age"))
print(age)

14

In [ ]:
print("Hello","Arnob","Soham",sep=",")

Hello,Arnob,Soham

In [ ]:
print("Hello",end=" ")#nice........
print("World")

Hello World

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
var=True  #var=true   is wrong....

In [ ]:
a="arnab"
print(a)
print(a)
print(a)
print(a)
print(type(a))

arnab
arnab
arnab
arnab
<class 'str'>

In [ ]:
a=12
print(a)
print(type(a))

12
<class 'int'>

In [ ]:
#Python Complex....
a=12+5j
print(a)
print(type(a))

(12+5j)
<class 'complex'>

In [ ]:
#Python Boolean....
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
#Python List....
a=[10,"arnob",43.5]
print(a)
print(type(a))

[10, 'arnob', 43.5]
<class 'list'>

In [ ]:
#Python Tuple.....
a=(10,"Soham",34.567)
print(a)
print(type(a))

(10, 'Soham', 34.567)
<class 'tuple'>

In [ ]:
#Python Set....
a={10,"Adhir",1.23}
print(a)
print(type(a))

{1.23, 10, 'Adhir'}
<class 'set'>

In [ ]:
#Python Dict.....
a={'age':21,"marks":31}
print(a)
print(type(a))

{'age': 21, 'marks': 31}
<class 'dict'>

In [ ]:
#Python Dict....
a={'age':21}
print(a)
print(type(a))
print(a.get("age"))

{'age': 21}
<class 'dict'>
21

List Data Structure all methods

In [ ]:
list1=[10,"arnob",True,12.3,"ankit",10]
print(list1[2])

True

In [ ]:
list1=[10,"arnob",True,12.3,"ankit",10]
print(list1[2:5])

[True, 12.3, 'ankit']

In [ ]:
#countmethod
list1=[10,"arnob",True,12.3,"arnob",10]
print(list1.count("arnob"))

2

In [ ]:
#indexmethod
list1=[10,"arnob",True,12.3,"ankit",10]
print(list1.index(10,1))

5

In [ ]:
#insertmethod
list1=[10,"arnob",True,12.3,"ankit",10]
list1.insert(2,"wear")
print(list1)

[10, 'arnob', 'wear', True, 12.3, 'ankit', 10]

In [ ]:
#pop
list1=[10,"arnob","wear",True,12.3,"ankit",10]
list1.pop(2)
print(list1)

[10, 'arnob', True, 12.3, 'ankit', 10]

In [ ]:
#extendmethod
list1=[10,"arnob",True,12.3,"ankit",10]
list2=[12,"code",False,3.4,"LF"]
list1.extend(list2)
print(list1)

[10, 'arnob', True, 12.3, 'ankit', 10, 12, 'code', False, 3.4, 'LF']

In [ ]:
#copymethod
list1=[10,"arnob",True,12.3,"ankit",10]
list2=list1.copy()
print(list2)

[10, 'arnob', True, 12.3, 'ankit', 10]

In [ ]:
#sortmethod
#list1=[10,130,12,34,25,89,10] #accending
#list1.sort()
#print(list1)

list1=[10,130,12,34,28,1200,1089] #decending
list1.sort(reverse=True)
print(list1)

[1200, 1089, 130, 34, 28, 12, 10]

In [ ]:
#reversemethod
list1=[12,10,13,124,52]
list1.reverse()
print(list1)

[52, 124, 13, 10, 12]

In [ ]:
#Nestedlist
list1=[12,10,13,124,52,["ankit",["arnob",123,12.4]]]
list1.reverse()
print(list1)

[['ankit', ['arnob', 123, 12.4]], 52, 124, 13, 10, 12]

In [ ]:
#listcomprehension
list1=["arnob","arnav","akit","rohit","happy"]
a=[word for word in list1 if word.startswith("ar")]
print(a)

['arnob', 'arnav']

In [ ]:
#listunpacking
list1=["anrup","arnav"]
n1,n2=list1
print(n1)
print(n2)

anrup
arnav

In [7]:
#Functions
def abc(a,b):
    add=a+b
    print(add)
    return add

bcd = abc(5,6)
print(bcd)

11
11

Tuple Data Structure all methods   note:-Tuple is a unchangeable so cant use many of the operations

In [ ]:
#empty type
var=(1,2,3,4,5,True,"arnab",1.23)
print(var)
print(type(var))

8
<class 'tuple'>

In [ ]:
#lengthmethod
var=(1,2,3,4,5,True,"arnab",1.23)
print(len(var))
print(type(var))

8
<class 'tuple'>

In [ ]:
var=(1,2,3,4,5,True,"arnab",1.23)
var2=var
print(var2)
print(type(var))

(1, 2, 3, 4, 5, True, 'arnab', 1.23)
<class 'tuple'>

In [ ]:
#indexmethod
var=(1,2,3,4,5,True,"arnab",1.23)
var1=var.index("arnab")
print(var1)
print(type(var1))

6
<class 'int'>

Set Data Structure all methods

In [ ]:
var={10,"arnob",True,1.2,1.2}
print(var)
print(type(var))

{True, 10, 'arnob', 1.2}
<class 'set'>

In [76]:
#Add method
var={10,"arnob",True,1.2,1.2}
var.add("Soham")
var.add(45)
print(var)
print(type(var))

{True, 1.2, 'arnob', 10, 45, 'Soham'}
<class 'set'>

In [80]:
#Update method
var={10,"arnob",True,1.2,"ankit"}
var.update(["soham","happy"])
print(var)
print(type(var))

{True, 1.2, 'ankit', 'arnob', 'soham', 10, 'happy'}
<class 'set'>

In [87]:
#pop method
var={10,"arnob",True,1.2,"soham"}
print(var.pop())
print(var.pop())
print(var)
print(type(var))

True
1.2
{'arnob', 'soham', 10}
<class 'set'>

In [90]:
#remove method
var={10,"arnob",True,1.2,"ankit"}
var.remove("arnob")
print(var)

{True, 1.2, 'ankit', 10}

In [91]:
#clear method
var={10,"arnob",True,1.2,"ankit"}
var.clear()
print(var)

set()

In [ ]:
#union method (unique value)
var={10,"arnob",True,1.2,"ankit",24.9}
var2={10,"arnob",True,1.2,"ankit",False,"india"}
print(var.union(var2)) #1  method
print(var | var2)      #2 operator

{False, True, 1.2, 'arnob', 10, 'india', 24.9, 'ankit'}
{False, True, 1.2, 'arnob', 10, 'india', 24.9, 'ankit'}

In [ ]:
#intersection method   (common value)
var={10,"arnob",True,1.2,"ankit",24.9}
var2={10,"arnob",True,1.2,"ankit",False,"india"}
print(var.intersection(var2)) #1  method
print(var & var2)              #2  operator

{True, 1.2, 'arnob', 10, 'ankit'}
{True, 1.2, 'arnob', 10, 'ankit'}

In [ ]:
#difference method   (top)
var={10,"arnob",True,1.2,"ankit",24.9}
var2={10,"arnob",True,1.2,"ankit",False,"india"}
print(var.difference(var2))   #1 method
print(var -var2)              #2 operator

{24.9}
{24.9}

In [105]:
#symetricmethod (bottom)(unique value)
var={10,"arnob",True,1.2,"ankit",24.9}
var2={10,"arnob",True,1.2,"ankit",False,"india"}
print(var.symmetric_difference(var2))

{False, 'india', 24.9}

Dictionary Data Structure all methods

In [17]:
#empty dict
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
print(var)
print(type(var))

{'Name': 'Ankit', 'Age': 19, 'Username': 'Arnob', 'password': 'Arnob9735'}
<class 'dict'>

In [30]:
#pop method
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
var.pop("Name")
print(var)

{'Age': 19, 'Username': 'Arnob', 'password': 'Arnob9735'}

In [27]:
#get method
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
print(var.get("password"))

Arnob9735

In [31]:
#clear method
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
var.clear()
print(var)

{}

In [32]:
#keys method
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
print(var.keys())

dict_keys(['Name', 'Age', 'Username', 'password'])

In [33]:
#values method
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
print(var.values())

dict_values(['Ankit', 19, 'Arnob', 'Arnob9735'])

In [34]:
#items method
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
print(var.items())

dict_items([('Name', 'Ankit'), ('Age', 19), ('Username', 'Arnob'), ('password', 'Arnob9735')])

In [39]:
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
for key,values in var.items():
    print(key,values,sep=" : ")

Name : Ankit
Age : 19
Username : Arnob
password : Arnob9735

In [42]:
#modification
var={"Name":"Ankit","Age":19,"Username":"Arnob","password":"Arnob9735"}
var["Age"]=50
var["password"]=9735
var["Username"]="Ar"
print(var)

{'Name': 'Ankit', 'Age': 50, 'Username': 'Ar', 'password': 9735}

Identifiers

In [43]:
var=10
print(var)

10

In [46]:
var=10
Var=20
VAR=30
print(var)
print(Var)
print(VAR)

10
20
30

In [56]:
#Using function
class A:
    def m1(self):
        print("Arnob")
        print("Ankit")
        print("Ankush")


        
r=A()
r.m1()

Arnob
Ankit
Ankush

Operators

In [ ]:
#Arithmetic Operators
a=13
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

15
11
26
6.5
6
169
1

In [58]:
#Relatinal Operators
a=13
b=11
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [63]:
#Logical OPerators
a=13
b=11
print(a<b and a>b)
print(a>b  or a<b)
print(not(a<b and a>b))
print(not(a>b or a<b))

False
True
True
False

In [ ]:
#Bitwise Operators
print(5 & 6) #Bitwise and (if both 1 output 1 else 0)
print(5 | 6) #Bitwise or  (if any 1 output 1 else 0)
print(5 ^ 6) #Bitwise xor (if both same then output 0 else 1)
print(~  5)  #Bitwise complement 
print(15>>1) #>> shift right
print(15<<1) #<< shift left

4
7
3
-6
7
30

In [ ]:
#Assignment Operators
a=5     # ( = ) 
print(a)

5

In [79]:
#Special Operators
  #a) identity operator      (is, is not)
a=5

b=6

print(a is not b)
print(a is b)

True
False

In [83]:
#b) membership operator           (in , not in)

var="India is great"

print("great" in var)

print("India" not in var)

True
False

Flow control
1) Conditional Statements
if  | if else  | else if

In [6]:
#if else
user_input=int(input("Enter a number:"))
if user_input % 2 ==0:
    print("number is even")
else:
    print("number is odd")

number is odd

In [18]:
#else if
age=int(input("Enter a age:"))
if age <= 18:
    print("You are too young to marry!")
elif age >= 60: 
    print("You are too old to marry!") 
else:
    print("We will find a perfect match for you!")

You are too young to marry!

2) Iterative Statements
For loop  |  While Loop

In [45]:
#forloop
num=int(input("enter a number:"))
for number in range(1,11):
    print(num*number)

1
2
3
4
5
6
7
8
9
10

In [48]:
#whileloop
password="arnob"
input_password=input("enter password:")
while password != input_password:
    input_password=input("password inncorrect:")
else:
    print("Unlocked !!")

Unlocked !!

3) Transfer Statements
Break  | Continue  | Pass

In [ ]:
#Break              means  exits the loop completely.
for num in range(1,11):
    if num %2==0:
        break
    else:
        print(num)

1

In [ ]:
#Continue               means skipping the rest of the current condition , moves to the next loop.
for num in range(1,11):
    if num %2==0:
        continue
    else:
        print(num)

1
3
5
7
9

In [ ]:
#Pass    means empty or null operations.
for i in range(5):
    pass

Module

1. Predfined Module
2. Userdefined Module

In [4]:
#predefined module

#calendar module

import calendar
print(calendar.month(2025,5))

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [7]:
#keyword module

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Functions
1. Pre defined (print and len or which comes with python)
2. User defined ( we creates to fulfill our business requirements)

In [17]:
# Pre defined functions

print("this is print function")

print(len("arnob maity"))

this is print function
11

In [101]:
# User defined functions

def calculator(a,b):

    print("addition :",a+b)
    print("subtraction :",a-b)
    print("multiplication :",a*b)
    print("div :",a/b)

calculator(8,4)

calculator(4,15)

addition : 12
subtraction : 4
multiplication : 32
div : 2.0
addition : 19
subtraction : -11
multiplication : 60
div : 0.26666666666666666

In [29]:
def greet():
    print("good evening")

print (greet())

good evening
None

In [30]:
def greet():
    return"good evening"

print (greet())

good evening

In [32]:
def greet():
    return"good evening"

msg = greet()
print(msg)

good evening

In [33]:
def greet(name):
    print("Good evening",name)

greet("Arnab")

Good evening Arnab

In [37]:
#default arguments.
def greet(firstname="guest"):
    print("good evening",firstname)


greet()

good evening guest

In [ ]:
#variable length arguments.
def test(*args):
    print(args)
    print(len(args))
    print(type(args))

test("India","Srilanka","America")

('India', 'Srilanka', 'America')
3
<class 'tuple'>

In [1]:
# variable length keyword arguments
def test(**kwargs):
    print(kwargs)
    print(len(kwargs))
    print(type(kwargs))

test(country="India",firstname="Rohit")

{'country': 'India', 'firstname': 'Rohit'}
2
<class 'dict'>

Exception Handling
1. try
2. except
3. else

In [11]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
try:
    c=a/b
    print("Result: ",c)
except:
    print("Can't divide to zero....!")  
else:      
    print("Arnob...")

Result:  5.0
Arnob...

In [14]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
try:
    c=a/b
    print("Result: ",c)
except:
       print("can't divide")

Result:  6.0

File Handling

In [ ]:
# Create a File
f=open("D:\\C data science\\python\A.txt", "x")

print("File Created Succesfully.....")

File Created Succesfully.....

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\4145661311.py:1: SyntaxWarning: invalid escape sequence '\A'
  f=open("D:\\C data science\\python\A.txt", "x")

In [ ]:
# Write
f=open("D:\\C data science\\python\A.txt", "w")
f.write("Arnob Maity\n Learn Coding.. \n Indus University")

print("Data Wrote Succesfully.....")

Data Wrote Succesfully.....

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\3421758407.py:1: SyntaxWarning: invalid escape sequence '\A'
  f=open("D:\\C data science\\python\A.txt", "w")

In [ ]:
# Read
f=open("D:\\C data science\\python\A.txt", "r")
print(f.read(60))

print("Data Readed Succesfully.....")

Arnob Maity
 Learn Coding..
 Indus University
Data Readed Succesfully.....

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\3263931259.py:1: SyntaxWarning: invalid escape sequence '\A'
  f=open("D:\\C data science\\python\A.txt", "r")

In [34]:
# Read Line
f=open("D:\\C data science\\python\A.txt", "r")
print(f.readline())

print("File Created Succesfully.....")

Arnob Maity

File Created Succesfully.....

<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:2: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\247429182.py:2: SyntaxWarning: invalid escape sequence '\A'
  f=open("D:\\C data science\\python\A.txt", "r")

In [35]:
# Read Lines
f=open("D:\\C data science\\python\A.txt", "r")
print(f.readlines())

print("File Created Succesfully.....")

['Arnob Maity\n', ' Learn Coding.. \n', ' Indus University']
File Created Succesfully.....

<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:2: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\75553493.py:2: SyntaxWarning: invalid escape sequence '\A'
  f=open("D:\\C data science\\python\A.txt", "r")

In [ ]:
#  File plus Exception Handling
try:
    f=open("D:\\C data science\\python\B.txt", "r")
    print(f.readlines())
except:
    print("File not Available ... plz create it")    

# print("File Created Succesfully.....")

File not Available ... plz create it

<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\4120860398.py:2: SyntaxWarning: invalid escape sequence '\B'
  f=open("D:\\C data science\\python\B.txt", "r")

In [ ]:
# File Close....
try:
    f=open("D:\\C data science\\python\A.txt", "r")
    print(f.readlines())
except:
    print("File not Available ... plz create it")   
else:
    f.close() 
    print("File Closed....!")

['Arnob Maity\n', ' Learn Coding.. \n', ' Indus University']
File Closed....!

<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:2: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\3470015150.py:2: SyntaxWarning: invalid escape sequence '\A'
  f=open("D:\\C data science\\python\A.txt", "r")

In [42]:
# Copying File from one another....
try:
    with open("D:\\C data science\\python\A.txt") as f2:
        with open("D:\\C data science\\python\B.txt","w") as f3:
            for i in f2:
                f3.write(i)
  
except:
    print("File not Available ... plz create it")   
else:
    f2.close() 
    print("File Closed....!")

File Closed....!

<>:3: SyntaxWarning: invalid escape sequence '\A'
<>:4: SyntaxWarning: invalid escape sequence '\B'
<>:3: SyntaxWarning: invalid escape sequence '\A'
<>:4: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\3363609132.py:3: SyntaxWarning: invalid escape sequence '\A'
  with open("D:\\C data science\\python\A.txt") as f2:
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\3363609132.py:4: SyntaxWarning: invalid escape sequence '\B'
  with open("D:\\C data science\\python\B.txt","w") as f3:

In [53]:
# How to delete File....

import os
if os.path.exists("D:\\C data science\\python\A.txt"):
     os.remove("D:\\C data science\\python\A.txt")
     

else:
     print("File not available.....!")   

print("File deleted Succesfully!")

File not available.....!
File deleted Succesfully!

<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:5: SyntaxWarning: invalid escape sequence '\A'
<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:5: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\2824763910.py:4: SyntaxWarning: invalid escape sequence '\A'
  if os.path.exists("D:\\C data science\\python\A.txt"):
C:\Users\Arnob\AppData\Local\Temp\ipykernel_22352\2824763910.py:5: SyntaxWarning: invalid escape sequence '\A'
  os.remove("D:\\C data science\\python\A.txt")

OOPs - Object Oriented Programming.
OOPs features.
1. Class & Objects
2. Inheritence
3. Polymerphism
4. Encapsulation
5. Abstraction

In [ ]:
# Class & Objects......
    #empty class
class Spiderman:
        pass
obj = Spiderman()

In [78]:
class A:
    def __init__(self):    
          age = 10
          print(age)
obj = A()
obj2 = A()

10
10

In [ ]:
class A:
    "learn coding...."
    age =10
    print(age)
obj =A()
print(obj.__doc__)    # document attribute....
# print(A.age)

10
learn coding....

In [91]:
class A:
    age=10
    def fun(self):  # self reference parameter.....
        "Learn Coding Python"
        name="Arnob Maity"
        print(name)
obj=A() 
obj.fun()  
print(obj.fun.__doc__)

Arnob Maity
Learn Coding Python

In [ ]:
class A:
    
    def __init__(self,age,name,address): 
        print(age,name,address)
    
obj=A(10,"Ankit","Goa") 
obj2=A(20,"Arnob","Ahmedabad")
obj3=A(18,"Yash","Delhi")

10 Ankit Goa
20 Arnob Ahmedabad
18 Yash Delhi

Python Constructor

1. Default Constructor.
2. Parametrized Constructor.

In [ ]:
#Python Constructor
class A:
    age=10
    def __init__(self):  #init is constructor
        name="Arnob"
        print(name,self.age)
obj=A()

Arnob 10

In [ ]:
class A:

    def __init__(self):  
        name="Arnob"
        print(name)

    def __init__(self):   # multiple default constructor will give priorty to last one only ...
        name="Ankit"
        print(name)    
obj=A()

Ankit

In [25]:
# Default Constructor
class A:
    name="Arnab"
    age=20
    city="Ahmedabad"
    def __init__(self):
        print(self.name,self.age,self.city)

obj=A()

Arnab 20 Ahmedabad

In [34]:
#Default Constructor... Special Function...
class A:
    name="Arnab"
    age=20
    city="Ahmedabad"
    def __init__(self):
        Sur_name = "Maity"      #Creating Member...
        print(self.name, Sur_name)
    def show(self):
        Dob = "29/05/2006"      #Creating Member...
        print(self.age ,  Dob)
    def home(self):
        district = "Vatva"
        print(self.city, district)        

obj=A()
obj.show()
obj.home()

Arnab Maity
20 29/05/2006
Ahmedabad Vatva

In [43]:
#Parametrized Constructor...
class A:
    def __init__(self,age,name,city):
        print(age,name,city)
    



# obj=A(16,"Arun","Ahmedabad")    
obj=A(16,"Arun",None)

16 Arun None

In [48]:
#Parametrized Constructor...
class A:
    name2="Ankit"    #so function....
    age2=14
    def __init__(self,age,name,city):
        city="Ahmedabad"
        print(age,name,city,self.name2)
    def show(self):  
        print(self.name2,self.age2)

obj=A(22,"Arun",None)
obj.show()

22 Arun Ahmedabad Ankit
Ankit 14

Access Modifiers
1. Public ( var )
2. Protected  ( _var )
3. Private    ( __var )

In [ ]:
class A:
    a=10        #Public 
    _b=20       #Protected
    __c=None    #Private
    print(a, _b, __c)
    def Add(self):
        self.__c = self.a+self._b
        print("Addition:",self.__c)

obj=A()
obj.Add()  
print(obj.a) 
print(obj._b) 
print(obj.__c)

10 20 None
Addition: 30
10
20

In [ ]:
class A:
    a=10        #Public 
    _b=20       #Protected
    __c=None    #Private
    print(a, _b, __c)
   
class B(A):
    def Show(self):
        print(self.a)
        print(self._b)
        print(self.__c) 

obj=B()
obj.Show()

10 20 None
10
20

AttributeError: 'B' object has no attribute '_B__c'

In [20]:
class A:
    a=10        #Public 
    _b=20       #Protected
    __c=None    #Private
    print(a, _b, __c)
   
class B(A):
    pass

obj=B()
print(obj.a)
print(obj._b)
# print(obj.__c)

10 20 None
10
20

Inheritance...
Types of Inheritance......
1. Single inheritance.
2. Multiple inheritance.
3. Multi-level inheritance.
4. Hierarchical inheritance.
5. Hybrid inheritance.

In [26]:
class father:
    def lands(self):    #properties
        print("Having 50 acers land")    
class son(father):
    def money(self):     #properties
        print("Having 10 lakhs money") 

S=son()   
S.lands()  
S.money() 
# F=Father()
# F.lands()
# F.money()

Having 50 acers land
Having 10 lakhs money

In [ ]:
# Single Inheritance
class A:
    num1=int(input("Enter First number: "))
    num2=int(input("Enter Second number: "))


    def Add(self):
        print("Addition: ",self.num1 + self.num2)
    def Sub(self):
        print("Subtraction: ",self.num1 - self.num2)

class B(A):
    def Multi(self):
        print("Multiplication: ",self.num1 * self.num2)
    def Div(self):
        print("Division: ",self.num1 / self.num2)
    def Module(self):
        print("Module: ",self.num1 % self.num2)     

obj=A()      
obj.Add()
obj.Sub()
obj=B()
obj.Multi()
obj.Div()
obj.Module()

Addition:  9
Subtraction:  3
Multiplication:  18
Division:  2.0
Module:  0

In [ ]:
# Multi-level Inheritance
class father:
    surname="Singh"
    def sur(self):
        print("Pandit ",self.surname)
class son(father):
    def Show(self):
        print("Akash ",self.surname)
class daughter(son):
    def dis(self):
        print("Rita ",self.surname)


F=father()
F.sur()

S=son()
S.Show()

D=daughter()
D.dis()

Pandit  Singh
Akash  Singh
Rita  Singh

In [15]:
# Mutiple Inheritance
class Akhil:
    Back="Java & Oracle DB"
    def Backend(self):
        print("Backend Task implemented using: ",self.Back)
class Arnob:
    Front="HTML CSS JavaScript"
    def Frontend(self):
        print("Frontend Task implemented using: ",self.Front)
class Rahul:
    Full="Python Java CSS"
    def Full_stack(self):
        print("Full Stack Task implemented using: ",self.Full)         
class Teamvictor(Akhil,Arnob,Rahul):
    def Show(self):
        print("Dynamic Website Created....")


T=Teamvictor()
T.Backend()
T.Frontend() 
T.Full_stack()        
  
T.Show()

Backend Task implemented using:  Java & Oracle DB
Frontend Task implemented using:  HTML CSS JavaScript
Full Stack Task implemented using:  Python Java CSS
Dynamic Website Created....

In [24]:
# Hierarchical Inheritance
class father():
    surname="Maity"
    def sur(self):
        print("I am Ankit ", self.surname)
class son1(father):
    def show(self):
        print("I am Ravi ", self.surname) 
class son2(father):
    def dis(self):
        print("I am Soham ", self.surname)
class daughter(father):
    def dau(self):
        print("I am Sweety ",self.surname)

f=father()
s1=son1()    
s2=son2()
d=daughter()

f.sur()
s1.show()
s2.dis()
d.dau()

I am Ankit  Maity
I am Ravi  Maity
I am Soham  Maity
I am Sweety  Maity

Encapsulation...
Single Underscore (Protected)  ( _var )
Double Underscore (Private)    ( __var )

In [ ]:
# Encapsulation
class A:
    _a=10       #Protected
    __b=20      #Private
    def show(self):
        print("a=",self._a)
        print("b=",self.__b)

obj=A()
obj.show()  7
print("Outside of class ",obj._a)        #var a is protected so we can use it....
# print("Outside of class ",obj.__b)     #var b is not occuring beacuse it is private ....

a= 10
b= 20
Outside of class  10

Abstraction...
1. Abstract Class
2. Interface

In [33]:
#Abstraction
# first.py =Add       second.py=Sub        main.py=Implemrntation
# import first,second

# first.Add()
# second.Sub()

In [ ]:
# Abstract Class
from abc import ABC,abstractmethod
class Car(ABC):
    def Show(self):
        print("Every car has 4 Wheels")
    @abstractmethod
    def Speed(self):
        pass
class Maruti(Car):
    def Speed(self):
        print("Speed is 100km/hr")
class Hyundai(Car):
    def Speed(self):
        print("Speed is 80km/hr")   

obj1=Maruti()
obj1.Show()
obj1.Speed()

obj2=Hyundai()
obj2.Show()
obj2.Speed()

Every car has 4 Wheels
Speed is 100km/hr
Every car has 4 Wheels
Speed is 80km/hr

In [53]:
#Interface
from abc import ABC,abstractmethod

class Shape(ABC):
    @abstractmethod
    def Show(self):
        pass
    def Disp(self):
        pass
class Square(Shape):
    def Show(self):
        print("Square have 4 Sides...")    

class Circle(Shape):
    def Show(self):
        print("Circle has circle shape...")    

s=Square()
c=Circle()


s.Show()
c.Show()

Square have 4 Sides...
Circle has circle shape...

Polymorphism....
1. Method Overloading.
2. Method Overriding.

In [ ]:
# Polymorphism...

print(5+5)      #same same but different...
print("5"+"5")    
print(len("Ankit"))  
print(len(["Ankush","Akhilesh"]))
print(len(["Arnab",20,"Ahmedabad"]))

10
55
5
2
3

In [67]:
# Method Overloading...
class A:
    def show(self):
        print("Welcome")
    def show(self,firstname=" "):
        print("Welcome",firstname)

    def show(self,firstname=" ",lastname=" "):
        print("Welcome",firstname,lastname)    

obj=A()
obj.show()
obj.show("Arnob")
obj.show("Arnob", "Maity")

Welcome
Welcome Arnob
Welcome Arnob Maity

In [79]:
# Method Overriding...
class A:         #Parent Class
   def disp(self):
       print("This is parent class method.")
class B(A):      #Child Class
    def  disp(self):
        super().disp()              #super keyword
        print("This is child class method.")  

# obj=A()
obj1=B() 

# obj.disp()
obj1.disp()

This is parent class method.
This is child class method.

Multi-Threading....

In [2]:
# Single Threading.....
from time import sleep
class A:
    def run(self):
        for i in range (5):
            print("Arnob")
            sleep(1)
class B:
    def run(self):
        for i in range (5):
            print("Anikul")
            sleep(1)

t1=A() # Main Thread    5 sec for execute     
t2=B() # Main Thread    5 sec for execute      Total 10 sec...

t1.run()
t2.run()

Arnob
Arnob
Arnob
Arnob
Arnob
Anikul
Anikul
Anikul
Anikul
Anikul

In [4]:
# Multi Threading...
from time import sleep
from threading import Thread
class A(Thread):
    def run(self):
        for i in range (5):
            print("Arnob")
            sleep(1)
class B(Thread):
    def run(self):
        for i in range (5):
            print("Anikul")
            sleep(1)

t1=A()        # Multi Thread  in % sec both threads run in less time....  Total Threads in this code are 3 Threads....
t2=B()

t1.start()
t2.start()

t1.join()
t2.join()            # 3rd Thread Join at last in less time ....

print("Happy ")

Arnob
Anikul
Arnob
Anikul
Arnob
Anikul
Arnob
Anikul
Arnob
Anikul
Happy

In [2]:
name = "John"
print("Hello,  %s" % name)

Hello,  John

In [21]:
for i in range (10):
    if i == 5:
      break#    continue
    print(i)

0
1
2
3
4

In [33]:
for i in range(1,10):
      
        print(i)
# else:
#         print("Loop finished")

1
2
3
4
5
6
7
8
9

In [39]:
d = {"name": "John" ,"age":30}
print(d["name"])
print(d["age"])

John
30

In [42]:
l=[x for x in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
l = [{"name":"John"} , {"age":30}]
l

[{'name': 'John'}, {'age': 30}]

In [60]:
a=5
b=10
def add(a,b):
    return a+b
print(a + b)

15

In [61]:
a=5
b=10
def print_sum(a,b):
    print(a+b)